// parameters
params {
    reads = "$baseDir/fastq/*_{1,2}.fastq.gz"
    genome = "$baseDir/reference/Ecoli_genome.fasta"
    output = 'results'
    outdir1 = "$output/trimmed_fastq/"
    outdir2 = "$output/bam/"
    outdir3 = "$output/variant-call/"
    help = false
    minc = 2
    ploidy = 1
    cpus = 2
}

//profile
profiles {
    conda { 
        process.conda = "$baseDir/environment.yml" 
    }
    docker {
        process.container = 'kazumax/variant_call:1.0'
        docker.enabled = true
    }
none {
    // don't load any configration (use local $PATH)
    }
}
